

@media only screen and (max-width: 1199px) and (min-width: 768px)  {
  .span_1_of_5 {
    width: 23%;
  }
  .member_img{
    width: 120px;
  }
  .span_1_of_5.kumar{
    width: 100%;
  }
}



@media(max-width: 767px){
  
  .span_1_of_5 {
    width: 48%;
  }
  .span_1_of_5.kumar{
    width: 100%;
  }
  
}



@media( max-width : 585px ) {
    .member_img{
      width: 100px;
    }
    .member_bx{
      min-height: 130px;
    }
}
